
html {
    --container_background_color: hsla(0,0%,50%,.1);
    @apply h-full russo;

}

.header {
    background-color: var(--container_background_color);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.norse {
  font-family:norse, sans-serif;
}

.russo {
     font-family: 'russo one', sans-serif;
}
.slot { 
    @apply rounded-md;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: #fff url(../public/sprite5.png) repeat-y;
    background-size: 75%;
    will-change: backgroundPosition;
    transition: 0.2s background-position linear;
}

.slot-icon {
    @apply rounded-sm;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: #fff url(../public/sprite5.png) repeat-y;
    background-size: 70%;
}

.slot:nth-child(2) {
  margin: 0 10px;
}


.slot-sample {
    @apply flex flex-row gap-1;
}

.slot-container {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    @apply rounded-lg;
}

#body {
    height:100%;
    background: radial-gradient(circle at 50% 20%,rgba(237,122, 70,.25),transparent),#000;
}
