@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Cairo');

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

body { 
  background-color: #292929;
}

#repeatButton {
  appearance: none;  
  border: none;
  background: url(../public/repeat.png) transparent 0 0 no-repeat;
  background-size: cover;
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 50px;
  left: 50%; 
  cursor: pointer;
  animation: 6s linear infinite spin;
}

h1 {  
  font-size: 150%;  
  font-family: 'Cairo', sans-serif;
}

h1 span {
  color: aliceblue;
  border: 1px solid hsla(208, 100%, 97.1%, .1);
  display: inline-block;
  padding: 0.75rem 1rem;
}

* { box-sizing: border-box; }

.spinner-container {
  overflow: hidden;
  display: flex;
  transition: 0.5 s transform;
  @apply w-fit;
}

.app-wrap.winner-false {
  animation: linear 1s spin;
}

.spinner-container::after {
  content: '';
  display: block;
  height: 94px;
  transform: translate(-100%,-50%);
  right: 0px;
  left: 0px;
  background-color:rgba(237, 122, 70, 0.1);
}

.gradient-fade {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
    to bottom, 
    rgba(64,64,64,1) 0%, 
    rgba(64,64,64,0) 30%, 
    rgba(64,64,64,0) 70%, 
    rgba(64,64,64,1) 100%
  );
}

